.transactions {
  display: flex;
  position: sticky;
  top: 0;
  flex-direction: column;
  padding: 0 var(--spacing-m);
  .transactionList {
    display: flex;
    flex-direction: column;
    margin: 0 var(--spacing-xxs);
  }
}
